.centrado {
    position: absolute;
    left: 49%;
    top: 42%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.estilo_body{
    background-image: url('img/back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.posicion_body{
    position: relative;  
}